<template>
  <div class="container mt-6">
    <!-- <h1 class="title uppercase">shop {{category}} with {{query}}</h1> -->
    <h3 class="text-3xl font-medium text-gray-800">
      {{category | capitalize }} clothes
      <span class="text-green-500 font-normal">{{query}}...</span>
    </h3>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 lg:gap-4 sm:gap-2 lg:py-5 p-4"
    >
      <div v-for="(product, key) in products" :key="key">
        <product-card :product="product" @viewProduct="viewProduct" />
      </div>
    </div>
  </div>
</template>

<script>
import products from "~/mixins/products";

export default {
  mixins: [products],
  layout: "product",
  head() {
    return {
      title: `${this.category} products`
    };
  },
  computed: {
    category() {
      return this.$route.params._category;
    },
    query() {
      return this.$route.query.search;
    }
  },

  data() {
    return {
      key: ""
    };
  },

  mounted() {
    console.log(this.query);
    console.log(this.searchQuery);
  }
};
</script>

<style>
</style>