body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3 {
  /* font-family: 'Poppins', sans-serif !important; */
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.container {
  min-height: 80vh !important;
}

.el-pager li {
  font-size: 18px;
}

a {
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}