<template>
  <div class="container">
    <transition name="page">
      <div v-if="searchQuery" class="p-4">
        <h3 class="text-3xl font-medium text-gray-800">
          Results for
          <span class="text-green-500 font-normal">{{searchQuery.search}}...</span>
        </h3>
      </div>
    </transition>

    <div class="flex items-center py-3 px-4">
      <el-select v-model="sortValue" placeholder="Sort product by" class="focus:border-gray-200">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </div>
    <div
      class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 lg:gap-4 sm:gap-2 lg:py-5 p-4"
    >
      <div v-for="(product, key) in products" :key="key">
        <product-card :product="product" @viewProduct="viewProduct" />
      </div>
    </div>
  </div>
</template>

<script>
import products from "../../mixins/products";

export default {
  mixins: [products],
  layout: "product",

  head() {
    return {
      title: "Products"
    };
  }
};
</script>

<style>
</style>