<template>
  <div>
    <div class="carousel mb-4">
      <el-carousel height="600px" :autoplay="true">
        <el-carousel-item v-for="product in products" :key="product.id">
          <img
            :alt="product.name"
            :src="product.imageurls.split(',')[0] || 'https://picsum.photos/600/300/?image=25'"
            class="h-full object-contain mx-auto w-3/5"
          />
          <h3 class="text-2xl font-bold text-center">{{ product.name }}</h3>
        </el-carousel-item>
      </el-carousel>
    </div>

    <div class="container">
      <h1 class="text-bold uppercase text-2xl text-black">new</h1>

      <div class="lg:grid sm:grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 lg:gap-4 sm:gap-2">
        <!-- <product-card v-for="(item,key) in 4" :key="key" /> -->
        <div class="bg-gray-300 h-64 mt-4" v-for="(item,key) in 4" :key="key" />
      </div>

      <h1 class="text-bold uppercase text-2xl text-black mt-10">launching</h1>

      <div class="lg:grid sm:grid lg:grid-cols-2 sm:grid-cols-1 sm:grid-cols-2 lg:gap-4 sm:gap-2">
        <div
          v-for="(item,key) in 2"
          :key="key"
          class="bg-gray-300 h-64 p-20 flex-1 lg:mr-3 mb-3"
          style="min-height:440px"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import { firestore } from "~/firebase.config";

export default {
  layout: "homepage",

  head() {
    return {
      title: "Home"
    };
  },

  data() {
    return {
      products: [],
      carousels: [
        { text: "Slide 1", color: "indigo" },
        { text: "Slide 2", color: "red" },
        { text: "Slide 3", color: "blue" },
        { text: "Slide 4", color: "yellow" },
        { text: "Slide 5", color: "green" }
      ]
    };
  },

  async mounted() {
    const db = firestore.collection("starred_products");
    const snap = await db.get();

    this.products = snap.docs.map(doc => {
      return { id: doc.id, ...doc.data() };
    });

    console.log(this.products);
  }
};
</script>

<style>
</style>
